<form class="user-form">
  <mat-form-field >
    <input matInput placeholder="User Name" [(ngModel)]='user' name='UserName' class="input-user-form">
  </mat-form-field>
</form>

<form class="chat-form">
    <mat-card class="chat-box">
      <div *ngFor='let chat of chatHub'>
        <span> {{chat.UserName}} </span>
        <span> {{chat.ChatMessage}} </span>
      </div>
    </mat-card>
</form>

<form class="message-form">
  <mat-form-field >
    <input matInput placeholder="New Message" [(ngModel)]='message' name='Message' class="input-user-form">
    <button matButton (click)=sendData()>send</button>
  </mat-form-field>
</form>


