/* You can add global styles to this file, and also import other style files */

html, body { height: 90%; }
body { margin: 2; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-card {
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.mat-form-field{
    width: 90%;
    text-align: center;
    margin-right: 12px;
}
